.catalog-list__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.catalog-list__item-name {
  margin: 0;
  padding: 25px 0 20px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 80px;
}

.catalog-list__item-info {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  min-width: 140px;
}

.catalog-list__mark {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: left;
}

.catalog-list__value {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: right;
}
