.page-title {
  margin: 0;
  padding: 15px 0 30px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  border-top: 1px solid @border-header;
  border-bottom: 1px solid @border-header;
  display: block;
}

@media (min-width: @tablet-width) {
  .page-title {
    margin-top: 40px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 75px;
    padding: 0;
    border: none;

  }
}
