.process {
  .zero-space ();
  margin-bottom: 40px;
}

.process__name {
  .zero-space ();
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.process__list {
  .zero-space ();
}

.process__item {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: @Arial;
  list-style: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .process {
    margin-bottom: 25px;
  }

  .process__name {
    margin-bottom: 60px;
    font-size: 60px;
  }

  .process__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .process__item {
    padding: 120px 80px 50px 0;
    margin-bottom: 85px;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .process {
    margin-bottom: 5px;
  }

  .process__item {
    padding-right: 0;
    margin-bottom: 5px;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
