.process {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.process__name {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.process__list {
  margin: 0;
  padding: 0;
}

.process__item {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  list-style: none;
}
