.program__header {
  color: #ffffff;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;
  margin: 0px -20px 22px;
  padding-top: 30px;
}

.program__name {
  font-size: 36px;
  line-height: 36px;
  padding: 0 15px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.program__main-image {
  margin: 0 20px 5px;
}

.program__button {
  margin: 0;
}
.program__variety {
   margin: 0;
   padding: 0;
}
