.program-list__item {
  margin: 0 0 20px;
  padding: 25px 20px 23px 20px;
  list-style: none;
  background-color: @grey-background;
  display: block;
}

.program-list__item-name {
  font-size: 24px;
  line-height: 37px;
  padding: 6px 15px 21px 70px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.program-list__item-name--pro {
  padding-top: 4px;
  padding-bottom: 20px;
}

.program-list__item-description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: @Arial;
  padding-bottom: 23px;
  border-bottom: 1px solid @border-footer;
}

.program-list__item-transfer {
  display: block;
  .zero-space ();
  padding-top: 18px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media (min-width: @tablet-width) {
  .program-list__item {
    margin: 0 0 30px;
    padding: 75px 25px 62px 52px;
  }

  .program-list__item-name {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 37px;
  }

  .program-list__item-name--pro {
    padding-top: 2px;
    padding-bottom: 0;
  }

  .program-list__item-description {
    padding-right: 250px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .program-list__item-description--pro {
    padding-right: 290px;
  }

  .program-list__item-transfer {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .program-list__item {
    padding: 40px 55px 60px 52px;
    width: 465px;
  }

  .program-list__item-name {
    margin-bottom: 42px;
    padding: 36px 0 32px 163px;
  }

  .program-list__item-description {
    padding: 0;
    margin-bottom: 13px;
  }
}
