.program__header {
  color: #ffffff;
  background: @green-background url("../../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 302px 305px;
  .zero-space ();
  padding-top: 30px;
  width: auto;
  display: block;
}

.program__name {
  font-size: 36px;
  line-height: 36px;
  padding: 0 15px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.program__main-image {
  margin-bottom: 5px;
}

.program__button {
  margin: 0;
}

.program__variety {
  .zero-space ();
  display: block;
}

@media (min-width: @tablet-width) {
  .program__header {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  .program__name-part {
    margin-left: 90px;
    .zero-space ();
  }

  .program__name {
    .zero-space ();
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 45px;
    color: #111111;
  }

  .program__slogan {
    .zero-space ();
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .program__header {
    background: @green-background url("../../img/index-background-desktop@1x.jpg") no-repeat 100% 0;
    background-size: 720px 696px;
    margin: -140px -110px 80px 0;
    padding: 0;
    padding-bottom: 150px;
  }

  .program__name-part {
    margin-top: 140px;
  }

  .program__main-image {
    margin-top: 140px;
  }

  .program__variety {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
