.program__header {
  color: #ffffff;
  .zero-space ();
  margin: 0;
}

.program__name-part {
  background: @green-background url("../../img/index-background-mobile@1x.jpg") no-repeat center 0;
  background-size: cover;
  width: auto;
  padding-top: 30px;
  padding-bottom: 140px;
  margin: 0 -20px;
}

.program__name {
  font-size: 36px;
  line-height: 36px;
  padding: 0 5px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.program__main-image {
  margin: -140px auto 5px;
  width: 280px;
  height: 270px;
  display: block;
}

.program__button {
  margin: 0;
  margin-bottom: 22px;
  display: block;
}

.program__variety {
  .zero-space ();
  display: block;
}

@media (min-width: @tablet-width) {
  .program__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .program__name-part {
    margin: 0;
    background: #ffffff;
    padding: 40px 90px 20px;
  }

  .program__name {
    .zero-space ();
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    color: #111111;
  }

  .program__slogan {
    .zero-space ();
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
    margin-bottom: 30px;
  }

  .program__main-image {
    margin: 0 auto;
    margin-top: -105px;
    width: 709px;
    height: 609px;
    order: 3;
  }

  .program__button {
    padding: 16px 25px;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .program__header {
    padding: 0;
    padding-bottom: 150px;
    flex-direction: row;
  }

  .program__name-part {
    width: 450px;
    padding: 85px 20px 20px 80px;
  }

  .program__main-image {
    margin: -140px -220px -55px 5px;
    padding: 140px 220px 55px 0;
    background: @green-background url("../../img/index-background-desktop@1x.jpg") no-repeat 100% 0;
    background-size: cover;
    width: 552px;
    height: 499px;
  }

  .program__button {
    order: 3;
    margin-top: -180px;
    margin-left: 85px;
  }

  .program__variety {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
